* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Montserrat, sans-serif;
}

body {
    width: auto;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.column-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.64%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3%;
}

.col-11 {
    width: 91.63;
}

.col-12 {
    width: 99.96%;
}

nav {

    background-color: rgb(230, 129, 230);
}

.button1 {
    background-color: rgb(255, 227, 66);
    border-radius: 5px;
    font-weight: 700;
    margin-right: 20px;
}

.button {
    background-color: rgb(255, 227, 66);
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 700;
    margin-right: 20px;
}


.nav-left {
    display: flex;
    align-items: center;

}

.logo-text {
    padding: 10px;
}

.nav-left a {
    float: unset;
    display: flex;
    text-align: unset;
    padding: 10px;
}

.first-section {
    background-image: url(./images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}



.first-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ccc;
    opacity: 50%;
    padding: 50px 0px;
    height: 100%;
    width: 50%;
}

.first-banner h1 {
    font-size: 2rem;
    padding: 50px 0px;
    color: black;
}

.first-banner a {
    text-decoration: none;
    color: #000
}

.partners-section {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black solid black;
}

.partners-section img {
    width: 10%;
}

.second-section {
    background-color: navy;
}

.second-section-container,
.third-section-container,
.container {
    margin: 10px 5%;
    padding: 50px 0px;
}

.container-first-row,
.container-second-row,
.container-third-row {
    display: flex;
    gap: 150px;
    justify-content: center;
}


.first-left-section {
    background-image: url(./images/logo.png);
    background-position: left top;
    background-size: 100px;
    background-repeat: no-repeat;
}

.first-left-section img {
    width: 100%;
}

.first-right-section {
    color: white;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.first-right-section h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.first-right-section h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.first-right-section p {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 20px;
    font-weight: 500;
    font-size: 20px;
}

.second-left-section {
    text-align: justify;
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
    color: white;
}

.second-right-section,
.third-left-section,
.third-right-section {
    background-color: white;
    border-radius: 10px;
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0px;
    color: navy;
}

.second-left-section h6 {
    font-size: 25px;
    margin-bottom: 20px;
}


.second-right-section h6,
.third-left-section h6,
.third-right-section h6 {
    font-size: 15px;
    margin-top: 20px;
    padding: 20px;
}

.second-left-section h2 {
    margin-bottom: 30px
}

.second-right-section h2,
.third-left-section h2,
.third-right-section h2 {
    padding: 20px;
}

.second-left-section p {
    font-weight: 500;
    font-size: 20px;
}

.second-right-section p,
.third-left-section p,
.third-right-section p {
    margin-bottom: 70px;
    padding: 20px;
    font-weight: 500;
    font-size: 20px;
}

.second-right-section a,
.third-left-section a,
.third-right-section a {
    margin: 0px 20px 50px 20px;
    background-color: navy;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

.third-container-row {
    display: flex;
    gap: 150px;
    justify-content: center;
}

.inner-left-1,
.inner-right-1 {
    background-color: rgb(230, 129, 230);
    height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0.0625rem 0.5rem 0 rgb(0 0 0 / 4%), 0 0.0625rem 0.3125rem 0 rgb(0 0 0 / 4%);
}

.inner-left-1 img,
.inner-right-1 img {
    width: 10%;
}

.inner-left-2 img,
.inner-right-2 img {
    width: 100%;
    height: 200px;
    box-shadow: 0 0.0625rem 0.5rem 0 rgb(0 0 0 / 4%), 0 0.0625rem 0.3125rem 0 rgb(0 0 0 / 4%);
}

.inner-left-3,
.inner-right-3 {
    background-color: rgb(230, 129, 230);
    display: flex;
    align-items: center;
    padding: 20px;
    height: 300px;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0.0625rem 0.5rem 0 rgb(0 0 0 / 4%), 0 0.0625rem 0.3125rem 0 rgb(0 0 0 / 4%);
}

.join-us {
    background-color: rgb(26, 20, 49);
    color: white;
}

.join-us a {
    text-decoration: none;
    color: white;
}

.join-row-1 {
    display: flex;
    gap: 30px;

}

.join-our-team {
    border: 1px solid yellow;
    border-radius: 5px;
    height: 300px;
    text-align: center;
}

.join-our-team img {
    width: 20%;
}

.join-our-team h1 {
    margin: 30px 0px;
}

.donate {
    border: 1px solid yellow;
    border-radius: 5px;
    height: 300px;
    display: flex;
    gap: 10px;
}

.donate-1 {
    padding: 20px;
}

.donate-1 img {
    width: 20%;
}

.donate-1 p {
    margin: 20px 0px;
}

.donate-1 h4 {
    margin-bottom: 20px;
}

.donate-2 img {
    width: 100%;
}

.coninVR-row {
    text-align: center;
}

.coninVR-row img {
    width: 50%;
}

.events-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.event-1,
.event-2,
.event-3 {
    border-radius: 5px;
    border: 1px solid yellow;
    padding: 30px;
}

.event-1 h1,
.event-2 h1,
.event-3 h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

.event-1 p,
.event-2 p,
.event-3 p {
    margin-bottom: 20px;
    font-size: 20px;
}

.event-1 h2,
.event-2 h2,
.event-3 h2 {
    margin: 25px 0px;
}

.date-row {
    display: flex;
    gap: 20px;
}

.date-row #date {
    font-size: 30px;
}

.testimonials {
    height: 500px;
    color: navy;
}

.testimonials-content {
    text-align: center;
    margin: 30px 0px;
}

.faq {
    background-color: #ccc;
}

.faq h4 {
    color: navy;
    padding: 50px 0px 10px 50px;
    font-size: 30px;
}

.faq p {
    color: navy;
    margin: 10px 0px;
    padding-left: 50px;
}

.faq h1 {
    color: navy;
    margin: 20px 0px;
    text-align: center;
}

.faq-question {
    background-color: white;
    color: navy;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin-bottom: 10px;
    font-size: 20px;
}

.faq-question i {
    font-size: 40px;
    box-shadow: 0 0.0625rem 0.5rem 0 rgb(0 0 0 / 4%), 0 0.0625rem 0.3125rem 0 rgb(0 0 0 / 4%);

}

.more-faq-container {
    display: flex;
    justify-content: center;
}

.more-faq {
    text-align: center;
    background-color: navy;
    border-radius: 10px;
    padding: 30px 30px 60px 30px;
    width: 40%;
    color: white;
    margin-bottom: 100px;
}

.more-faq h1 {
    color: white;
}

.more-faq a {
    color: white;
    text-decoration: none;
}

.founder-section h1 {
    color: navy;
    padding: 30px;
}

.founder-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.founder-words {
    color: navy;
    padding: 50px;
    text-align: justify;
}

.founder-words p {
    font-size: 30px;
    margin: 20px 0px;
}

.founder-words h3,
.founder-words h5 {
    font-size: 20px;
    margin: 10px 0px;
}

.founder-image {
    background-image: url(./images/double-quote.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: left top;
    padding: 0px 10px;

}

.founder-image img {
    width: 100%;
}

hr {
    font-size: 20px;
    margin: 50px 70px;
}

.newsletter {
    color: navy;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.newsletter h3 {
    padding: 20px;
}

.newsletter input[type=email] {
    width: 55%;
    padding: 12px 10px;
    box-sizing: border-box;
}

#subscribe {
    text-decoration: none;
    background-color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 700;
    color: navy;
    box-shadow: 1px 1px 2px 2px;
    margin-left: 20px;
}

.map-section {
    background-image: url(./images/newyork.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-content {
    display: flex;
    gap: 100px;
    padding: 50px;
}

.map-form {
    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;
}

.map-form h1 {
    color: navy;
    padding-bottom: 20px;
}

.map-form input {
    display: block;
}

.map-form label {
    color: grey;
    font-weight: 700;
}

.map-form textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin: 20px 0px 50px 0px;
}

.map-form input[type=text],
.map-form input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    box-sizing: border-box;
}

#submit {
    text-decoration: none;
    background-color: rgb(255, 227, 66);
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    margin-top: 50px;
}

.map-img {
    padding: 100px;
}

.map-img img {
    width: 50%;
}

.last-section {
    display: flex;
    padding: 50px;
    align-items: center;
    background-color: white;
    justify-content: center;
}

.last-box-1,
.last-box-2,
.last-box-3 {
    border: 1px solid black;
    padding: 20px;
    color: navy;
    font-size: 20px;
    font-weight: 700;
    width: 300px;
    height: 150px;
}

.last-box-1 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.last-box-3 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inner-box-1,
.inner-box-2,
.inner-box-3 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0px;
}

.last-box-2 {
    background-color: navy;
    color: white;
}

.inner-box-1 img,
.inner-box-2 img,
.inner-box-3 img {
    width: 30px;
}

footer {
    background-color: navy;
    color: white;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seal img {
    width: 30%;
}

.seal {
    padding: 0px 50px;
}

.copyright {
    padding: 50px;
}

.footer-icon {
    padding: 20px;
    display: flex;
}

.footer-icon img {
    width: 50%;
}

@media(max-width:1520px) {}

@media screen and (max-width: 800px) {

    .partners-section,
    .events-row,
    .second-section-container,
    .coninVR-row,
    .container-first-row,
    .container-second-row,
    .container-third-row,
    .third-container-row,
    .founder-content,
    .last-section,
    .map-content,
    .join-row-1,
    .map-content,
    .newsletter {
        display: flex;
        flex-wrap: wrap;
    }

    .founder-words,
    .first-left-section,
    .first-right-section,
    .second-left-section,
    .second-right-section,
    .third-left-section,
    .third-right-section,
    .third-container-left-section,
    .third-container-right-section,
    .more-faq,
    .founder-image,
    .seal,
    .copyright,
    .footer-icon {
        width: 100%;
    }


    .footer-icon {
        gap: 5px;
    }

    .seal img {
        width: 40px;
    }

    .footer-icon img {
        width: 20px;
    }

    .container-first-row,
    .container-second-row,
    .container-third-row {
        gap: unset;
    }

    .last-box-2 {
        margin: 10px 0px;
        border-radius: 5px;
    }

    .copyright {
        font-size: 10px;
        padding: 10px;
    }
}